<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vidly</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vidly.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100 bg-black">
    <header class="fixed-top">
        @Html.Partial("_NavBar")
    </header>
    <div class="container">
        <main role="main" class="pb-3 mt-5 pt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top  text-muted bg-black mt-auto py-3 text-center fixed-bottom">
        <div class="container">
            &copy; @DateTime.Now.Year - vidly - <a asp-area="" asp-controller="Movies" asp-action="Home">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
